@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed|Abel|Philosopher|Sintony|Chivo|Basic);
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
 
#login-buttons .login-display-name {
  font-family:  'Source Sans Pro';
  font-size: 18px;
  text-align: center; 

}

.questions{ 
  padding: 15px;
  font-family:"Old Standard TT", "Baskerville";
  font-size: 1.25em;
  text-align: center;
}
 
.questions .yes {   
  text-transform: uppercase;
  border-radius: 0.2em;
  border: rgba(0, 0, 0, 0) 0.1px solid;
  font-family: 'Source Sans Pro';
  background-color: rgba(255,210,0,0.5); 
  color: black;  
  font-size: 1em;
  letter-spacing: 0.1em;
  line-height: 1;
  margin: 15px;
  outline: none;
  padding: 5px 10px;
  transition: all 200ms ease-in;
}
 
.yes:hover {
  background-color: rgba(255,200,0,1.0); 
}


.questions .no {   
  border-radius: 0.2em;
  border: rgba(0, 0, 0, 0) 0.1px solid;
  font-family: 'Source Sans Pro';
  background-color: rgba(255,210,0,0.5); 
  color: black;  
  font-size: 1em;
  letter-spacing: 0.1em;
  line-height: 1;
  margin: 15px;
  outline: none;
  padding: 5px 10px;
  transition: all 200ms ease-in;
}
 
.no:hover {
  background-color: rgba(255,200,0,1.0); 
}


/* nav */
#nav ul {
    z-index: 800;
    list-style-type: none;
    margin: 0;
    padding: 0; 
    background-color: rgba(0,0,0,0.5);
    /*#333;*/
    position: fixed;
    /*top: 0px;*/
    width: 100%;  


bottom: 0px; 
height:100px;
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover:not(.active) {
    background-color: #111;
}

#nav .active {
    background-color: #4CAF50;
}

/*end nav*/


img{
  padding:10px;
  max-width: 80%;
}

body {

  background-color: #F6F8F7;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 3em 0;
  padding: 0;
}

.highlight { color: red}

.outer {
  background-color: #F6F8F7;
  margin: 0 auto;
  /*max-width: 480px;*/
  max-width: 70%;

}

.logo {
  background: url('img/read_together_logo.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.5em;
  margin: 0 auto .75em;
  width: 1.5em;
}

.title {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: .3em;
  margin: 0 0 .25em;
  text-align: center;
  text-indent: .3em;
  text-transform: uppercase;
}

.subtitle {
  color: #999;
  font-size: .875em;
  margin-bottom: 2em;
  text-align: center;
}

.leaderboard { 
  z-index: 900;
  /*border-top: 1px solid #f1f1f1;*/
  /*counter-reset: ol-counter;*/
  list-style-type: none;
  margin: 0 0 1.5em;
  padding: 0; 
}

.article { 
  z-index: 500;
  /*background-color: gainsboro;*/
  border: 1px solid gainsboro;
  /**border-bottom: 1px solid #f1f1f1;*/
  padding: .5em 0;
  position: relative;
  overflow: hidden;
  transition: background 300ms ease-out;
  /*border-left: 4px solid white;*/
  border-radius: 10px;
}

.article:before {
  /*color: #999;*/
  /*content: counter(ol-counter);
  counter-increment: ol-counter;*/
  display: inline-block;
  font-weight: 300;
  line-height: 3em;
  text-align: center;
  vertical-align: middle;
  width: 3em;
}

.article .avatar {
  display: inline-block;
  margin-right: 1em;
  vertical-align: middle;
}

.article .name {
  display: inline-block;
  font-size: 2em;
  font-weight: 500;
  vertical-align: middle;
  text-align: center;
  padding: 5%;
  letter-spacing: 0.01px;
  /*background-color: rgba(139, 87, 42, 0.06);*/
  /*background-color: rgba(0, 0, 0, 0.06);*/
  width: 100%;
  font-family:'Baskerville';
} 

.article .date { 
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  vertical-align: middle;
  text-align: center;
  padding: 1%;
  letter-spacing: 0.01px;
  /*background-color: rgba(139, 87, 42, 0.06);*/
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%; 
} 
.article .description {
  font-family: "Old Standard TT", "Baskerville";
  white-space: pre-wrap; /* preserve them whitespacies!!!*/
  display: inline-block;
  font-size: 1.25em;
  font-weight: 300;
  vertical-align: middle;
  padding: 15px;
  overflow: hidden;
  height: 100%;
  width: 100%;
} 

.article .result {
  white-space: pre-wrap; /* preserve them whitespacies!!!*/
  display: inline-block;
  font-size: 1.40em;
  font-weight: 300;
  vertical-align: middle;
  padding: 10px; 
  height: 70%;
} 
  
.article.selected {
  /*background-color: #fefff4;*/
  /*background-color: rgba(0,0,0,0.05);*/
  background-color: #F6F8F7;
  /*
  border-left: #4099FF 4px solid; 
  border-right: #4099FF 4px solid; 
  */
  /*float: left;*/
  height: 100%;
  /*height: 900px; /*for now*/
}

/*
.article:hover {
  background-color: #fefff4;
}
*/
.showSettings {
  border-radius: 0.1em;
  border: #4099FF 1px solid;
  background: aliceblue;
  color: #4099FF;
  cursor: pointer; 
  font-family: 'Source Sans Pro' ,'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 1;
  margin: 1.5px;
  outline: none;
  padding: 10px 30px 
  transition: all 200ms ease-in;

}

.showSettings:hover {
  background: #4099FF;
  color: #fff;
}

.showSettings:active {
  box-shadow: rgba(0,0,0,.3) 0 1px 3px 0 inset;
}

.hideSettings {
  border-radius: 0.1em;
  border: #4099FF 1px solid;
  background: aliceblue;
  color: #4099FF;
  cursor: pointer; 
  font-family: 'Source Sans Pro' ,'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 1;
  margin: 1.5px;
  outline: none;
  padding: 10px 30px 
  transition: all 200ms ease-in;

}

.hideSettings:hover {
  background: #4099FF;
  color: #fff;
}

.hideSettings:active {
  box-shadow: rgba(0,0,0,.3) 0 1px 3px 0 inset;
}
/*

.details { 
  overflow: hidden;
}

.details .name {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 2.25rem;
  padding-left: 1.25rem;
  vertical-align: middle;  
}

.details .yes {
  border-radius: 0.4em;
  border: #4099FF 1px solid;
  background: #337ab7;
  color: #fff; 
  cursor: pointer; 
  font-family: 'Source Sans Pro' ,'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
  line-height: 1;
  margin: 1.5px;
  outline: none;
  padding: 10px 30px;
  position: relative;
  float: right;
  transition: all 200ms ease-in;

}

.yes:hover {
  color: #000099;
}

.yes:active {
  box-shadow: rgba(0,0,0,.3) 0 1px 3px 0 inset;
}

.message {
  color: #aaa;
  line-height: 2.25rem;
  text-align: center;
}

.details .no {
  
  border-radius: 0.4em;
  border: #4099FF 1px solid;
  background: #337ab7;
  color: #fff;
  cursor: pointer;
  font-family: 'Source Sans Pro' ,'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
  line-height: 1;
  margin: 1.5px;
  outline: none;
  padding: 10px 30px;
  transition: all 200ms ease-in;
}

.no:hover { 
  color:#000099;
}

.no:active {
  box-shadow: rgba(0,0,0,.3) 0 1px 3px 0 inset;
}
*/

.heart {
  float:right;
  border-radius: 1em;
  border: rgba(0, 0, 0, 0.1) 1px solid;
  background: rgba(0, 0, 0, 0.1);
  color: crimson;
  cursor: pointer;
  font-family: sans-serif, serif; /* not all symbols work*/
  font-size: 2.5rem;
  line-height: 1;
  margin: 15px;
  outline: none;
  padding: 5px 10px;
  transition: all 200ms ease-in;
}
 
.heart:hover {
  /*background: #4099FF;
  color: #fff;*/ 
  color:darkred;
}

.heart:visited {
  color: darkred;
}

.email {
  float:right;
  border-radius: 1em;
  border: rgba(0, 0, 0, 0.1) 1px solid;
  background: rgba(0, 0, 0, 0.1);
  color: crimson;
  cursor: pointer;
  font-family: sans-serif, serif; /* not all symbols work*/
  font-size: 2.5rem;
  line-height: 1;
  margin: 15px;
  outline: none;
  padding: 5px 10px;
  transition: all 200ms ease-in;
}
 
.email:hover {
  /*background: #4099FF;
  color: #fff;*/ 
  color:darkred;
}

.email:visited {
  color: darkred;
}


@media (max-width: 500px) {

  .outer {
    max-width: 100%; /* fill da screen for better reading*/
  }
  /*

  .details .name {
    font-size: 1.2em;
    padding-left: 0;
  }

  .details .inc {
    padding: 10px 20px;
  }
  */

  body {
    margin: 1em 0 2em 0;
  }

  .article:hover {
    background-color: inherit;
  }

  .article.selected:hover {
    background-color: #fefff4;
  }
}
  